.green {
    background: #78D18B
}

.grey {
    background: #F9F9F9
}

.black {
    background: #242424
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}

.sidebar {
    width: 230px;
    background: #242424
}

.sidebar a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 10px 12px;
    display: block
}

.sidebar a:hover {
    color: white
}

.sidebar a.active {
    background: #3e3e3e;
    color: white
}

.sidebar--header {
    background: #78D18B;
    color: #242424
}

.sidebar--header:hover {
    background: #8bd79b
}

.breadcrumb {
    width: calc(100% - 230px);
    padding: 10px;
    font-size: 14px;
    background: #F9F9F9
}

.breadcrumb span:after {
    content: '>';
    padding: 0 10px
}

.breadcrumb span:last-of-type:after {
    content: ''
}