.green {
    background: #78D18B
}

.grey {
    background: #F9F9F9
}

.black {
    background: #242424
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}

ol,
ul {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none
}

ul.list li {
    padding-left: 20px;
    position: relative
}

ul.list li:before {
    content: '•';
    font-size: 24px;
    top: 0;
    color: #78D18B;
    position: absolute;
    left: 0;
    line-height: 30px
}

ol.list li {
    counter-increment: step-counter;
    padding-left: 20px;
    position: relative
}

ol.list li:before {
    content: counter(step-counter);
    position: absolute;
    top: 0;
    left: 0;
    color: #78D18B
}