.as--no-margin-bottom {
    margin-bottom: 0
}

.as--admin-index-title h1 {
    width: calc(100% - 200px)
}

.as--admin-index-title h1,
.as--admin-index-title a {
    display: inline-block;
    vertical-align: middle
}

.as--half {
    width: calc(50% - 20px)
}