.green {
    background: #78D18B
}

.grey {
    background: #F9F9F9
}

.black {
    background: #242424
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}

.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #242424;
    border: 1px solid #242424;
    background: transparent;
    -webkit-transition: background-color 0.3s, opacity 0.3s;
    transition: background-color 0.3s, opacity 0.3s;
    margin-bottom: 16px
}

.button--primary {
    font-size: 10px;
    text-transform: uppercase;
    border: 2px solid #242424;
    border-radius: 3px;
    padding: 5px 14px;
    line-height: 15px;
    background: white
}

.button--secondary {
    border: 2px solid #242424;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 4px 12px;
    font-size: 16px;
    min-width: 120px;
    letter-spacing: 1.2px
}

.button--secondary:hover,
.button--primary:hover {
    border: 2px solid #3e3e3e
}

.button--tertiary {
    background: #78D18B;
    color: white;
    text-transform: uppercase;
    padding: 6px;
    border: none;
    border-radius: 5px;
    border: 2px solid #78D18B;
    font-weight: normal
}

.button--large {
    padding: 10px 12px;
    font-size: 20px
}

#buttons .button {
    margin-bottom: 20px
}