h2.huge-module__title=name
each paragraph in items.intro
	p.huge-module__paragraph!=paragraph

h3 Side Bar	
.sidebar
	each sidebar, index in items.sidebars
		- var item = '<a href="#" class="' + sidebar.class + '">' + sidebar.title + '</a>'
		!{item}
br		
h3 Breadcrumb Nav
.breadcrumb
	each crumb, index in items.breadcrumbs
		span #{crumb.title}